@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.device {
	// background-color: green;
	color: white;
	@extend .full-space;
	// inline-size: 100%;
	// min-block-size: 90vh;
	// block-size: 100%;

	// mobile
	@media screen and (width < $tablet-width) {
		// --img-height: 13.9375rem;
		// --member-role-fs: var(--fs-16);
		--device-name-fs: var(--fs-24);
		--device-subheading-fs: var(--fs-14);
		--device-subheading-letter-spacing: 0.1475rem;

		--description-fs: var(--fs-15);
		--description-line-height: 1.5625rem;
		--description-width: 20.4375rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: space-evenly;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		// --img-height: 33.25rem;
		// --img-height: 50vh;
		// --member-role-fs: var(--fs-24);
		--device-name-fs: var(--fs-40);
		--device-subheading-fs: var(--fs-16);
		--device-subheading-letter-spacing: 0.16875rem;

		--description-fs: var(--fs-16);
		--description-line-height: 1.75;
		--description-width: 28.625rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: space-evenly;
		justify-content: flex-start;
		// padding-block-end: 2rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		// --img-height: 27.8125rem;
		// --img-height: 44.5rem;
		// --member-role-fs: var(--fs-32);
		--device-name-fs: var(--fs-56);
		--device-subheading-fs: var(--fs-16);
		--device-subheading-letter-spacing: 0.16875rem;

		--description-fs: var(--fs-18);
		--description-line-height: 2rem;
		--description-width: 27.75rem;

		display: grid;
		grid-template-rows: repeat(2, auto);
		// grid-template-rows: repeat(3, auto);
		// grid-template-rows: auto;
		grid-template-columns: repeat(2, auto);
		// align-items: center;
		// align-content: center;
		// justify-content: center;
		// justify-items: center;
	}

	// .illustration {
	// 	// background-color: yellow;

	//     background-repeat: no-repeat;
	//     background-position: center;
	//     background-size: cover;

	// 	// mobile
	// 	@media screen and (width < $tablet-width) {
	// 		inline-size: 100%;
	// 		block-size: auto;
	// 	}

	// 	// tablet
	// 	@media screen and ($tablet-width <= width < $desktop-width) {
	// 		inline-size: 100%;
	// 		block-size: auto;
	// 	}

	// 	// desktop
	// 	@media screen and (width >= $desktop-width) {
	// 		block-size: 60vh;
	// 	}
	// }

	.deviceImage {
		background-color: yellow;
		// block-size: var(--img-height);
		// block-size: fit-content;

		& > img,
		& > source {
			inline-size: 100%;
			// block-size: 100%;
			block-size: auto;
			// object-fit: contain;
			// object-fit: fill;
			object-fit: cover;
		}

		// mobile
		@media screen and (width < $tablet-width) {
			// inline-size: 100%;
			inline-size: $mobile-width;
			block-size: auto;
			// block-size: 10.625rem;
			// order: 1;
			margin-block-start: 8.75rem;
			// // margin-block-start: 50vh;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			// inline-size: 100%;
			inline-size: $tablet-width;
			block-size: auto;
			// block-size: 19.375rem;
			// order: 3;
			margin-block-start: 13.6875rem;

			// margin-block-start: auto;
			// margin-block-start: 10vh;
			// margin-block-start: max(5.4rem, auto);
			// justify-self: flex-end;
			// align-self: flex-end;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			// block-size: 60%;
			inline-size: 32.1875rem;
			block-size: fit-content;
			grid-column: 2 / 3;
			grid-row: 1/ -1;
			align-self: center;
			justify-self: flex-end;
			// align-self: flex-end;
		}
	}

	// .horizontalLine {
	// 	// block-size: 1rem;
	// 	// border-style: solid;
	// 	// border-width: 5px;
	// 	// color: white;

	// 	// mobile
	// 	@media screen and (width < $tablet-width) {
	// 		order: 2;
	// 		inline-size: 90%;
	// 	}

	// 	// tablet
	// 	@media screen and ($tablet-width <= width < $desktop-width) {
	// 		display: none;
	// 	}

	// 	// desktop
	// 	@media screen and (width >= $desktop-width) {
	// 		display: none;
	// 	}
	// }

	.deviceHeading {
		font-weight: normal;
		& > .deviceSubHeader {
			font-family: 'Barlow Condensed', serif;
			font-size: var(--device-subheading-fs);
			letter-spacing: var(--device-subheading-letter-spacing);
		}
		& > .deviceName {
			font-family: 'Bellefair', serif;
			font-size: var(--device-name-fs);
		}
		// mobile
		@media screen and (width < $tablet-width) {
			// order: 3;
			text-align: center;
			margin-block-start: 6.25rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			// order: 1;
			text-align: center;
			margin-block-start: 10rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 1 / 2;
			grid-row: 1/ 2;
			align-self: flex-end;
			// justify-self: flex-end;
			margin-inline-start: 20rem;
		}
	}

	.deviceDescription {
		inline-size: var(--description-width);
		font-family: 'Barlow', serif;
		font-weight: normal;
		font-size: var(description-fs);
		line-height: var(--description-line-height);

		// mobile
		@media screen and (width < $tablet-width) {
			// order: 4;
			text-align: center;
			// margin-block-start: 1rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			// order: 2;
			text-align: center;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 1 / 2;
			grid-row: 2/ 3;
			align-self: flex-start;
			// justify-self: flex-end;
			margin-inline-start: 20rem;
		}
	}
}

// // mobile
// @media screen and (width < $tablet-width) {
// }

// // tablet
// @media screen and ($tablet-width <= width < $desktop-width) {
// }

// // desktop
// @media screen and (width >= $desktop-width) {
// }
