@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.itemMenu {
	display: flex;

	// mobile
	@media screen and (width < $tablet-width) {
		flex-direction: row;
		column-gap: 1rem;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		flex-direction: row;
		column-gap: 1rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		flex-direction: column;
		row-gap: 2rem;
	}

	counter-reset: number;

	> .item {
		// mobile
		@media screen and (width < $tablet-width) {
			block-size: 0;
			--circle-dia: 2.5rem;
			--digit-fs: var(--fs-16);
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			block-size: 0;
			--circle-dia: 3.75rem;
			--digit-fs: var(--fs-24);
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			inline-size: 0;
			--circle-dia: 5rem;
			--digit-fs: var(--fs-32);
		}

		> .pageLink {
			counter-increment: number;
			text-decoration: none;

			color: white;
			font-size: 0;

			&::after {
				font-size: var(--digit-fs);
				font-family: 'Bellefair', serif;
				font-weight: normal;
				content: counter(number);
				@include helpers.circle(var(--circle-dia));

				border-style: solid;
				border-color: var(--color-grey);
			}

			&:global(.active) {
				&::after {
					background-color: white;
					border-color: white;
					color: black;
				}
			}
		}
	}
}
