@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.device {
	color: white;
	@extend .full-space;

	// mobile
	@media screen and (width < $tablet-width) {
		--device-name-fs: var(--fs-24);
		--device-subheading-fs: var(--fs-14);
		--device-subheading-letter-spacing: 0.1475rem;

		--description-fs: var(--fs-15);
		--description-line-height: 1.5625rem;
		--description-width: 20.4375rem;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		--device-name-fs: var(--fs-40);
		--device-subheading-fs: var(--fs-16);
		--device-subheading-letter-spacing: 0.16875rem;

		--description-fs: var(--fs-16);
		--description-line-height: 1.75;
		--description-width: 28.625rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		--device-name-fs: var(--fs-56);
		--device-subheading-fs: var(--fs-16);
		--device-subheading-letter-spacing: 0.16875rem;

		--description-fs: var(--fs-18);
		--description-line-height: 2rem;
		--description-width: 27.75rem;

		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, auto);
	}

	.deviceImage {
		// background-color: yellow;

		& > img,
		& > source {
			inline-size: 100%;
			block-size: auto;
			object-fit: cover;
		}

		// mobile
		@media screen and (width < $tablet-width) {
			inline-size: $mobile-width;
			block-size: auto;
			margin-block-start: 8.75rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			inline-size: $tablet-width;
			block-size: auto;
			margin-block-start: 13.6875rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			inline-size: 32.1875rem;
			block-size: fit-content;
			grid-column: 2 / 3;
			grid-row: 1/ -1;
			align-self: center;
			justify-self: flex-end;
		}
	}

	.deviceHeading {
		font-weight: normal;
		& > .deviceSubHeader {
			font-family: 'Barlow Condensed', serif;
			font-size: var(--device-subheading-fs);
			letter-spacing: var(--device-subheading-letter-spacing);
		}
		& > .deviceName {
			font-family: 'Bellefair', serif;
			font-size: var(--device-name-fs);
		}
		// mobile
		@media screen and (width < $tablet-width) {
			text-align: center;
			margin-block-start: 6.25rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			text-align: center;
			margin-block-start: 10rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 1 / 2;
			grid-row: 1/ 2;
			align-self: flex-end;
			margin-inline-start: 20rem;
		}
	}

	.deviceDescription {
		inline-size: var(--description-width);
		font-family: 'Barlow', serif;
		font-weight: normal;
		font-size: var(description-fs);
		line-height: var(--description-line-height);

		// mobile
		@media screen and (width < $tablet-width) {
			text-align: center;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			text-align: center;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 1 / 2;
			grid-row: 2/ 3;
			align-self: flex-start;
			margin-inline-start: 20rem;
		}
	}
}

// // mobile
// @media screen and (width < $tablet-width) {
// }

// // tablet
// @media screen and ($tablet-width <= width < $desktop-width) {
// }

// // desktop
// @media screen and (width >= $desktop-width) {
// }
