@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.destinationPage {
	@extend .full-space;
	color: white;

	position: relative;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	// // mobile
	@media screen and (width < $tablet-width) {
		background-image: url(../../assets/destination/background-destination-mobile.jpg);
		--heading-fs: var(--fs-16);
		--heading-letter-spacing: 0.16875rem;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		background-image: url(../../assets/destination/background-destination-tablet.jpg);
		--heading-fs: var(--fs-20);
		--heading-letter-spacing: 0.21125rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		background-image: url(../../assets/destination/background-destination-desktop.jpg);

		--heading-fs: var(--fs-28);
		--heading-letter-spacing: 0.295rem;
	}

	& > .planetMenu {
		position: absolute;

		// mobile
		@media screen and (width < $tablet-width) {
			top: 20.8rem;
			left: 50%;
			transform: translateX(-50%);
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			top: 35rem;
			left: 50%;
			transform: translateX(-50%);
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			left: 50%;
			top: 19rem;
		}
	}

	& > .heading {
		font-family: 'Barlow Condensed', serif;
		font-size: var(--heading-fs);
		letter-spacing: var(--heading-letter-spacing);
		font-weight: normal;

		> .headingNum {
			font-weight: bold;
			color: var(--color-grey);
		}

		position: absolute;

		// mobile
		@media screen and (width < $tablet-width) {
			top: 5.5rem;
			left: 50%;
			transform: translateX(-50%);
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			left: 2.375rem;
			top: 8.625rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			left: 10rem;
			top: 13.375rem;
		}
	}
}
