@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.pageNav {
	// mobile
	@media screen and (width < $tablet-width) {
		--logo-size: 2.5rem;
		--horizontal-menu-width: auto;
		--horizontal-menu-height: auto;
		--top-offset: 0;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		--logo-size: 3rem;
		--horizontal-menu-width: 28.125rem;
		--horizontal-menu-height: 6rem;
		--top-offset: 1rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		--logo-size: 3rem;
		--horizontal-menu-width: 51.875rem;
		--horizontal-menu-height: 6rem;
		--top-offset: 1rem;
	}

	& {
		position: absolute;
		z-index: 3;
		top: var(--top-offset);
		right: 0;
		inline-size: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	> .logo {
		inline-size: var(--logo-size);

		// mobile
		@media screen and (width < $tablet-width) {
			position: absolute;
			left: 1.5rem;
			top: 1.5rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			margin-inline-start: 2.4375rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			margin-inline-start: 3.4375rem;
		}
	}

	> .horizontalMenu {
		background: hsl(var(white) / 0.06);
		backdrop-filter: blur(2rem);

		inline-size: var(--horizontal-menu-width);
		block-size: var(--horizontal-menu-height);

		display: flex;
		flex-direction: row;
		column-gap: 1rem;
		align-items: center;
		justify-content: space-evenly;

		font-family: 'Barlow Condensed', serif;

		// mobile
		@media screen and (width < $tablet-width) {
			display: none;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			font-size: var(--fs-14);
			letter-spacing: 0.1475rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			font-size: var(--fs-16);
			letter-spacing: 0.16875rem;

			list-style-position: inside;
			list-style-type: decimal-leading-zero;
		}

		& > li {
			block-size: 100%;

			& > .pageLink {
				text-decoration: none;
				color: white;
				line-height: var(--horizontal-menu-height);
			}

			&::marker {
				font-weight: bold;
				color: white;
			}

			&:has(.pageLink:global(.active)) {
				border-block-end-style: solid;
				border-block-end-width: 0.3rem;
				border-color: white;
			}
		}
	}

	> .dropDownMenu {
		background-color: hsla(var(grey));
		background: hsl(var(white) / 0.05);
		backdrop-filter: blur(1.5rem);
		position: absolute;
		right: 0rem;
		top: 0rem;

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			display: none;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			display: none;
		}

		> .dropDownMenuIcon {
			position: absolute;
			right: 0;
			right: 1.5rem;
			top: 2rem;
			list-style-image: url('../../assets/shared/icon-hamburger.svg');
		}
	}

	> .dropDownMenu[open] {
		inline-size: 15.875rem;

		block-size: var(--min-mobile-height);
		> .dropDownMenuIcon {
			list-style-image: url('../../assets/shared/icon-close.svg');
		}
		> .verticalMenu {
			margin-block-start: 7rem;
			margin-inline-start: 2rem;
			block-size: 100%;
			list-style-position: inside;
			list-style-type: decimal-leading-zero;
			display: flex;
			flex-direction: column;
			row-gap: 2rem;

			font-family: 'Barlow Condensed', serif;
			font-size: var(--fs-16);
			letter-spacing: 0.16875rem;

			& > li {
				color: white;

				& > .pageLink {
					color: white;
					text-decoration: none;
					line-height: 2rem;
				}

				&::marker {
					font-weight: bold;
				}

				&:has(.pageLink:global(.active)) {
					// background-color: cadetblue;
					border-inline-end-style: solid;
					border-inline-end-width: 0.3rem;
				}
			}
		}
	}
}
