@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.pageNav {
	// mobile
	@media screen and (width < $tablet-width) {
		--logo-size: 2.5rem;
		--horizontal-menu-width: auto;
		--horizontal-menu-height: auto;
		--top-offset: 0;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		--logo-size: 3rem;
		--horizontal-menu-width: 28.125rem;
		--horizontal-menu-height: 6rem;
		--top-offset: 1rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		--logo-size: 3rem;
		--horizontal-menu-width: 51.875rem;
		--horizontal-menu-height: 6rem;
		--top-offset: 1rem;
	}

	& {
		position: absolute;
		z-index: 3;
		// top: 1rem;
		top: var(--top-offset);
		right: 0;
		inline-size: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	> .logo {
		inline-size: var(--logo-size);

		// mobile
		@media screen and (width < $tablet-width) {
			position: absolute;
			left: 1.5rem;
			top: 1.5rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			margin-inline-start: 2.4375rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			margin-inline-start: 3.4375rem;
		}
	}

	> .horizontalMenu {
		background-color: cadetblue;

		// background: hsl(var(--color-white) / 0.06);
		// backdrop-filter: blur(2rem);

		// left: 50%;
		// transform: translateX(-50%);

		inline-size: var(--horizontal-menu-width);
		block-size: var(--horizontal-menu-height);

		// list-style-position: inside;
		// list-style-type: decimal-leading-zero;

		display: flex;
		flex-direction: row;
		column-gap: 1rem;
		align-items: center;
		justify-content: space-evenly;

		font-family: 'Barlow Condensed', serif;

		// mobile
		@media screen and (width < $tablet-width) {
			display: none;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			font-size: var(--fs-14);
			letter-spacing: 0.1475rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			font-size: var(--fs-16);
			letter-spacing: 0.16875rem;

			list-style-position: inside;
			list-style-type: decimal-leading-zero;
		}

		& > li {
			block-size: 100%;
			// background-color: yellow;
			background-color: pink;
			// display: flex;
			// flex-direction: column;
			// justify-content: center;

			& > .pageLink {
				// display: inline-block;
				text-decoration: none;
				background-color: yellow;
				// block-size: 100%;
				line-height: var(--horizontal-menu-height);
			}

			&::marker {
				font-weight: bold;
			}

			&:has(.pageLink:global(.active)) {
				background-color: coral;
				border-block-end-style: solid;
				border-block-end-width: 0.3rem;
			}
		}

		// > li::marker {font-weight: bold;}

		// .pageLink {
		// 	text-decoration: none;
		// 	background-color: yellow;
		// 	block-size: 100%;
		// }
	}

	> .dropDownMenu {
		background-color: coral;

		// position: relative;
		position: absolute;
		right: 0rem;
		top: 0rem;
		// right: 1.5rem;
		// top: 2rem;

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			display: none;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			display: none;
		}

		> .dropDownMenuIcon {
			position: absolute;
			right: 0;
			right: 1.5rem;
			top: 2rem;
			list-style-image: url('../../assets/shared/icon-hamburger.svg');
		}
	}

	> .dropDownMenu[open] {
		inline-size: 15.875rem;
		// block-size: 100vh; ????!!!!! remove scroll
		block-size: var(--min-mobile-height);
		> .dropDownMenuIcon {
			// list-style-type: none;
			list-style-image: url('../../assets/shared/icon-close.svg');
		}
		> .verticalMenu {
			// background-color: rebeccapurple;
			margin-block-start: 7rem;
			margin-inline-start: 2rem;
			block-size: 100%;
			list-style-position: inside;
			list-style-type: decimal-leading-zero;
			display: flex;
			flex-direction: column;
			row-gap: 2rem;

			font-family: 'Barlow Condensed', serif;
			font-size: var(--fs-16);
			letter-spacing: 0.16875rem;

			& > li {
				// block-size: 2rem;
				& > .pageLink {
					text-decoration: none;
					line-height: 2rem;
				}

				&::marker {
					font-weight: bold;
				}

				&:has(.pageLink:global(.active)) {
					background-color: cadetblue;
					border-inline-end-style: solid;
					border-inline-end-width: 0.3rem;
				}
			}
		}
	}
}
