// @import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
	@font-face {
		font-family: 'Bellefair';
		// src: url('Bellefair-Regular.woff2') format('woff2');
		src: url('../../src/assets/fonts/Bellefair-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-BlackItalic.woff2') format('woff2');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Black.woff2') format('woff2');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-ExtraBold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-ExtraBoldItalic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-BoldItalic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-ExtraLight.woff2') format('woff2');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Italic.woff2') format('woff2');
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-LightItalic.woff2') format('woff2');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-ExtraLightItalic.woff2') format('woff2');
		font-weight: 200;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-SemiBoldItalic.woff2') format('woff2');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-MediumItalic.woff2') format('woff2');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Thin.woff2') format('woff2');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-ThinItalic.woff2') format('woff2');
		font-weight: 100;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow';
		src: url('../../src/assets/fonts/Barlow-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-BoldItalic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-ExtraBoldItalic.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-LightItalic.woff2') format('woff2');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Italic.woff2') format('woff2');
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-BlackItalic.woff2') format('woff2');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Black.woff2') format('woff2');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-ExtraLight.woff2') format('woff2');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-ExtraLightItalic.woff2') format('woff2');
		font-weight: 200;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-ExtraBold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-ThinItalic.woff2') format('woff2');
		font-weight: 100;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-SemiBoldItalic.woff2') format('woff2');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-MediumItalic.woff2') format('woff2');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Thin.woff2') format('woff2');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Barlow Condensed';
		src: url('../../src/assets/fonts/BarlowCondensed-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}

:root {
	// $mobile-width: 23.4375rem;
	// $tablet-width: 48rem;
	// $desktop-width: 90rem;
	// $threshold-width: 70rem;

	// // $some-color: red;
	// --some-color: yellow;

	// --mobile-width: 23.4375rem;
	// --tablet-width: 48rem;
	// --desktop-width: 90rem;
	// --desktop-width: #{$desktop-width};
}

$mobile-width: 23.4375rem;
$tablet-width: 48rem;
$desktop-width: 90rem;

// --desktop-width: #{$desktop-width};
// $threshold-width: 70rem;
// @max-width-desktop: 90rem;
:root {
	--desktop-width: #{$desktop-width};
}

:root {
	font-family: serif;
	// font-family: 'Bellefair', serif;
	// font-family: 'Barlow Condensed', serif;

	font-optical-sizing: auto;
	// font-size: 24px;

	--fs-150: 9.375rem; // 150px
	--fs-100: 6.25rem; // 100px
	--fs-80: 5rem; // 80px
	--fs-56: 3.5rem; // 56px
	--fs-40: 2.5rem; // 40px
	--fs-38: 2.38rem; // 38px
	--fs-32: 2rem; // 32px
	--fs-28: 1.75rem; // 28px
	--fs-26: 1.625rem; // 26px
	--fs-24: 1.5rem; // 24px
	--fs-22: 1.38rem; // 22px
	--fs-20: 1.25rem; // 20px
	--fs-18: 1.125rem; // 18px
	--fs-16: 1rem; // 16px
	--fs-15: 0.9375rem; // 15px
	--fs-14: 0.875rem; // 14px
	--fs-13: 0.8125rem; // 13px
	--fs-12: 0.75rem; // 12px
	--fs-10: 0.625rem; // 10px

	--min-mobile-height: 37.5rem; //41.6875rem;
	--min-tablet-height: 50rem; // 64rem;
	--min-desktop-height: 50rem; //33.75rem; //56.25rem;
	// --border-radius-mobile: 0.75rem;
	// --border-radius-desktop: 0.875rem;
	--color-grey: grey;
}

// button:where(:hover, :focus) {
// 	cursor: pointer;
// }

// // mobile
// @media screen and (width < $tablet-width) {
// }

// // tablet
// @media screen and ($tablet-width <= width < $desktop-width) {
// }

// // desktop
// @media screen and (width >= $desktop-width) {
// }
