// @use '../../styles/_reset.scss';
// @use '../../styles/_helpers.scss';
// @use '../../styles/_scss';

@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.homePage {
	@extend .full-space;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	// // mobile
	@media screen and (width < $tablet-width) {
		// background-color: blueviolet;
		background-image: url(../../assets/home/background-home-mobile.jpg);
		--heading-fs: var(--fs-16);
		--heading-bigword-fs: var(--fs-80);
		--heading-bigword-line-height: 6.25rem;
		--heading-letter-spacing: 0.16875rem;
		--promo-fs: var(--fs-15);
		--promo-lineheight: 1.5625rem;
		--promo-width: 20.4375rem;
		--explore-btn-dia: 9.375rem;
		--explore-btn-fs: var(--fs-20);

		// min-block-size: var(--min-mobile-height);

		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: space-evenly;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		// background-color: coral;
		background-image: url(../../assets/home/background-home-tablet.jpg);
		--heading-fs: var(--fs-20);
		--heading-bigword-fs: var(--fs-150);
		--heading-bigword-line-height: 9.375rem;
		--heading-letter-spacing: 0.21125rem;
		--promo-fs: var(--fs-16);
		--promo-lineheight: 1.75rem;
		--promo-width: 27.75rem;
		--explore-btn-dia: 15.125rem;
		--explore-btn-fs: var(--fs-32);

		// min-block-size: var(--min-tablet-height);

		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: space-evenly;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		// background-color: yellow;
		background-image: url(../../assets/home/background-home-desktop.jpg);

		--heading-fs: var(--fs-28);
		--heading-bigword-fs: var(--fs-150);
		--heading-bigword-line-height: 9.375rem;
		--heading-letter-spacing: 0.295rem;
		--promo-fs: var(--fs-18);
		--promo-lineheight: 2rem;
		--promo-width: 27.75rem;
		--explore-btn-dia: 17.125rem;
		--explore-btn-fs: var(--fs-32);

		// min-block-size: var(--min-desktop-height);

		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-items: center;
		// align-items: flex-end;
	}

	& > .promo {
		display: flex;
		flex-direction: column;

		// mobile
		@media screen and (width < $tablet-width) {
			margin-block-start: 7.2rem;
			text-align: center;
			align-items: center;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			margin-block-start: 12.5rem;
			text-align: center;
			align-items: center;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			// align-self: flex-start;
		}

		& > .heading {
			// background-color: coral;
			// background-color: rebeccapurple;
			color: white;
			inline-size: fit-content;
			block-size: fit-content;
			font-family: 'Barlow Condensed', serif;
			font-size: var(--heading-fs);
			font-weight: normal;
			letter-spacing: var(--heading-letter-spacing);

			& > .headingBigWord {
				font-family: 'Bellefair', serif;
				font-size: var(--heading-bigword-fs);
				letter-spacing: 0;
				line-height: var(--heading-bigword-line-height);
			}
		}

		& > .promoText {
			// // desktop
			// @media screen and (width >= $desktop-width) {
			// }
			// background-color: chartreuse;
			color: white;
			inline-size: var(--promo-width);
			block-size: fit-content;
			font-family: 'Barlow', serif;
			font-size: var(--promo-fs);
			letter-spacing: 0;
			line-height: var(--promo-lineheight);

			// mobile
			@media screen and (width < $tablet-width) {
				margin-block-start: 1.375rem;
			}

			// tablet
			@media screen and ($tablet-width <= width < $desktop-width) {
				margin-block-start: 2rem;
			}

			// desktop
			@media screen and (width >= $desktop-width) {
				margin-block-start: 2rem;
			}
		}
	}

	& > .exploreBtn {
		position: relative;
		z-index: 1;
		// mobile
		@media screen and (width < $tablet-width) {
			margin-block-start: 5rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			margin-block-start: 9.5rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
		}

		@include helpers.circle(var(--explore-btn-dia));
		font-family: 'Bellefair', serif;
		font-size: var(--explore-btn-fs);

		&::after {
			position: absolute;
			z-index: -1;
			// z-index: 1;
			content: '';
			@include helpers.circle(165%);
			background-color: inherit;
			opacity: 0;
		}

		&:where(:hover)::after {
			opacity: 0.3;
		}
	}
}
