@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.LoadingIndicator {
	@extend .full-space;
	// background-color: red;
	// color: yellow;
	// font-size: xx-large;
	// font-weight: bold;
	background-color: black;

	display: flex;
	align-items: center;
	justify-content: center;
}
