// .planetMenu {
// 	display: flex;
// 	flex-direction: row;
// }

// .itemMenu {
// 	display: flex;
// 	flex-direction: row;
// 	column-gap: 1rem;

// 	> .item {
// 		background-color: coral;
// 	}
// }

// @import '../../styles/_reset.scss';
// @import '../../styles/_helpers.scss';
// @import '../../styles/_vars.scss';
@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars';

.itemMenu {
	background-color: crimson;
	// margin-inline-start: 5rem;
	display: flex;
	flex-direction: row;
	column-gap: 2rem;

	> .item {
		background-color: cadetblue;
		// block-size: 1rem;

		> .pageLink {
			text-decoration: none;

			color: white;
			// font-size: 0;
			&:global(.active) {
				background-color: coral;
			}
		}
	}
}
