@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.planet {
	color: white;

	@extend .full-space;

	// mobile
	@media screen and (width < $tablet-width) {
		--img-size: 10.625rem;
		--heading-fs: var(--fs-56);
		--description-fs: var(--fs-15);
		--description-line-height: 1.5625rem;
		--description-width: 20.4375rem;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		--img-size: 18.75rem;
		--heading-fs: var(--fs-80);
		--description-fs: var(--fs-16);
		--description-line-height: 1.75;
		--description-width: 35.8125rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding-block-end: 2rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		--img-size: 50%;
		--heading-fs: var(--fs-100);
		--description-fs: var(--fs-18);
		--description-line-height: 2rem;
		--description-width: 27.75rem;

		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.planetImage {
		inline-size: var(--img-size);
		aspect-ratio: 1;

		& > img,
		& > source {
			inline-size: 100%;
		}

		// mobile
		@media screen and (width < $tablet-width) {
			margin-block-start: 8.5rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			margin-block-start: 13.75rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-row: 1/ -1;
			grid-column: 1 / 2;
			margin-block-start: max(35%, 21rem);
		}
	}

	.planetName {
		text-transform: uppercase;
		font-family: 'Bellefair', serif;
		font-size: var(--heading-fs);
		font-weight: normal;

		// mobile
		@media screen and (width < $tablet-width) {
			margin-block-start: 5rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			margin-block-start: 7.875rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-row: 2/ 3;
			grid-column: 2 / 3;
			justify-self: flex-start;
			align-self: center;
		}
	}

	.planetDescription {
		inline-size: var(--description-width);
		font-family: 'Barlow', serif;
		font-size: var(--description-fs);
		line-height: var(--description-line-height);

		// mobile
		@media screen and (width < $tablet-width) {
			text-align: center;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			text-align: center;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-row: 3 /4;
			grid-column: 2 / 3;
			justify-self: flex-start;
		}

		& > hr {
			// mobile
			@media screen and (width < $tablet-width) {
				margin-block-start: 2rem;
				margin-block-end: 2rem;
			}

			// tablet
			@media screen and ($tablet-width <= width < $desktop-width) {
				margin-block-start: 3rem;
				margin-block-end: 2rem;
			}

			// desktop
			@media screen and (width >= $desktop-width) {
				margin-block-start: 3.6rem;
				margin-block-end: 2rem;
			}
		}

		& > .table {
			display: flex;

			// mobile
			@media screen and (width < $tablet-width) {
				flex-direction: column;
				row-gap: 1.5rem;
			}

			// tablet
			@media screen and ($tablet-width <= width < $desktop-width) {
				flex-direction: row;
				justify-content: center;
				column-gap: 6.25rem;
			}

			// desktop
			@media screen and (width >= $desktop-width) {
				flex-direction: row;
				column-gap: 4rem;
			}

			.tableHeader {
				font-family: 'Barlow Condensed', serif;
				font-style: normal;
				font-weight: normal;
				font-size: var(--fs-14);
				letter-spacing: 0.1475rem;
			}

			.tableValue {
				font-family: 'Bellefair', serif;
				font-style: normal;
				font-weight: normal;
				font-size: var(--fs-28);
			}
		}
	}
}
