@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.itemMenu {
	font-family: 'Barlow Condensed', serif;
	// // mobile
	@media screen and (width < $tablet-width) {
		--link-fs: var(--fs-14);
		--menu-width: 14.84375rem;
		--menu-height: 1.75rem;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		--link-fs: var(--fs-16);
		--menu-width: 17.84375rem;
		--menu-height: 2rem;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		--link-fs: var(--fs-16);
		--menu-width: 17.84375rem;
		--menu-height: 2rem;
	}

	inline-size: var(--menu-width);
	block-size: var(--menu-height);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	> .item {
		> .pageLink {
			text-decoration: none;
			text-transform: uppercase;
			font-size: var(--link-fs);
			color: white;
		}

		&:has(.pageLink:global(.active)) {
			border-block-end-style: solid;
			border-block-end-width: 0.3rem;
		}
	}
}
