@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.member {
	@extend .full-space;
	color: white;

	// mobile
	@media screen and (width < $tablet-width) {
		--img-height: 13.9375rem;
		--member-role-fs: var(--fs-16);
		--member-name-fs: var(--fs-24);

		--bio-fs: var(--fs-15);
		--bio-line-height: 1.5625rem;
		--bio-width: 20.4375rem;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// tablet
	@media screen and ($tablet-width <= width < $desktop-width) {
		--img-height: 50vh;
		--member-role-fs: var(--fs-24);
		--member-name-fs: var(--fs-40);

		--bio-fs: var(--fs-16);
		--bio-line-height: 1.75;
		--bio-width: 28.625rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	// desktop
	@media screen and (width >= $desktop-width) {
		--img-height: 44.5rem;
		--member-role-fs: var(--fs-32);
		--member-name-fs: var(--fs-56);

		--bio-fs: var(--fs-18);
		--bio-line-height: 2rem;
		--bio-width: 27.75rem;

		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, 1fr);
	}

	.memberImage {
		block-size: var(--img-height);

		& > img,
		& > source {
			block-size: 100%;
		}

		// mobile
		@media screen and (width < $tablet-width) {
			order: 1;
			margin-block-start: 8.6875rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			order: 3;
			margin-block-start: 10vh;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 2 / 3;
			grid-row: 1/ -1;
			align-self: flex-end;
		}
	}

	.horizontalLine {
		// mobile
		@media screen and (width < $tablet-width) {
			order: 2;
			inline-size: 90%;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			display: none;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			display: none;
		}
	}

	.memberHeading {
		font-family: 'Bellefair', serif;
		font-weight: normal;

		// mobile
		@media screen and (width < $tablet-width) {
			order: 3;
			text-align: center;
			margin-block-start: 4.5rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			order: 1;
			text-align: center;
			margin-block-start: 13.5rem;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 1 / 2;
			grid-row: 1/ 2;
			align-self: flex-end;
			margin-inline-start: 10rem;
		}

		.memberRole {
			font-size: var(--member-role-fs);
		}

		.memberName {
			font-size: var(--member-name-fs);
		}
	}

	.memberBio {
		inline-size: var(--bio-width);
		font-family: 'Barlow', serif;
		font-weight: normal;
		font-size: var(--bio-fs);
		line-height: var(--bio-line-height);

		// mobile
		@media screen and (width < $tablet-width) {
			order: 4;
			text-align: center;
			margin-block-start: 1rem;
		}

		// tablet
		@media screen and ($tablet-width <= width < $desktop-width) {
			order: 2;
			text-align: center;
		}

		// desktop
		@media screen and (width >= $desktop-width) {
			grid-column: 1 / 2;
			grid-row: 2/ 3;
			align-self: flex-start;
			margin-inline-start: 10rem;
		}
	}
}

// // mobile
// @media screen and (width < $tablet-width) {
// }

// // tablet
// @media screen and ($tablet-width <= width < $desktop-width) {
// }

// // desktop
// @media screen and (width >= $desktop-width) {
// }
