@import '../../styles/_reset.scss';
@import '../../styles/_helpers.scss';
@import '../../styles/_vars.scss';

.itemMenu {
	background-color: crimson;
	// margin-inline-start: 5rem;
	display: flex;
	flex-direction: row;
	column-gap: 2rem;

	> .item {
		background-color: cadetblue;
		// block-size: 1rem;

		> .pageLink {
			text-decoration: none;

			color: white;
			font-size: 0;

			&::after {
				font-size: 1rem;
				content: '';
				@include circle(1rem);
				background-color: blue;
			}

			&:global(.active) {
				&::after {
					background-color: white;
					color: blue;
				}
			}
		}
	}
}
