// @import '../../styles/_reset.scss';
// @import '../../styles/_helpers.scss';
// @import '../../styles/_vars.scss';
@use '../../styles/reset';
@use '../../styles/helpers';
@use '../../styles/vars' as *;

.itemMenu {
	background-color: crimson;
	// margin-inline-start: 5rem;
	display: flex;
	flex-direction: row;
	column-gap: 1rem;

	> .item {
		background-color: cadetblue;
		// block-size: 1rem;
		block-size: 0;

		> .pageLink {
			// mobile
			@media screen and (width < $tablet-width) {
				--circle-dia: 0.625rem;
			}

			// tablet
			@media screen and ($tablet-width <= width < $desktop-width) {
				--circle-dia: 0.625rem;
			}

			// desktop
			@media screen and (width >= $desktop-width) {
				--circle-dia: 0.9375rem;
			}

			text-decoration: none;
			// color: white;
			font-size: 0;

			&::after {
				// font-size: 1rem;
				// font-size: 0;
				content: '';
				@include helpers.circle(var(--circle-dia));
				background-color: var(--color-grey);
			}

			&:global(.active) {
				&::after {
					background-color: white;
					// color: blue;
				}
			}
		}
	}
}
